@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}

nav h1 {
  margin-right: auto;
}

a {
  color: rgb(3, 196, 154);
}

img {
  max-width: 100%;
}

.content {
  max-width: 95%;
  margin: 0 auto;
}

.property-container {
    border-bottom: solid 5px red;
}

.property-top {
    display: flex;
    justify-content: space-between;
}

.property-images {
    display: flex;
}

.property-img {
    width: 300px;
    height: 300px;
    padding: 10px;   
}

.foreclosure-text {
    background-color: red;
    color: white;
}