@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=VT323&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}

nav h1 {
  margin-right: auto;
}

a {
  color: rgb(3, 196, 154);
}

img {
  max-width: 100%;
}

.content {
  max-width: 95%;
  margin: 0 auto;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.offers, .products {
  display: flex;
  gap: 20px;
}
